@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F4F4F4;
  color: #1A1A1A;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
  background: #D1D5DB;
  border-radius: 9999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9CA3AF;
}
